.group11{
    height: 200px;
    width: 100%;
    background-image: url("./assest/red\ start.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px;
}
.group11button{
    position: relative;
    right: 60%;
    background-color: white;
    color: red;
    width: 120%;
}
.textarea{
    background-color: none;
}
#group11input::placeholder{
    color: white;
}

                        /* group 10 */

.group10{
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
}
.cpa-heading{
    font-size: 0.8rem;
}




                        /* Group 9 */
.group9{
    height: 500px;
    width: 100%;
}
.group9 .row{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.group9-Farward-icon{
    transform: rotate(180deg);
}

.nameOne{

    height: 350px;
    width: 230px;
     border: 3px solid gray;
     border-radius: 15px;
 }
     .nameOne img{
         position:relative;
         left: 25%;
         bottom: 20%;
     }
     .nameoneh6{
         position: relative;
         left: 30%;
         bottom: 15%;
     }
     .nameOne p{
         position: relative;
         bottom: 18%;
         text-align: center;
     }
    .nameonestar{
        margin-top: 30px;
    }
    .inerdiv{
        height:120px ;
        width: 224px;
        border-radius: 10px 10px 0px 0px;
    background-color: rgb(219, 219, 219);
}

.nameTwo{
    height: 400px;
    width: 270px;
    border: 3px solid gray;
    box-shadow: 0px 2px 5px 2px  rgb(199, 185, 185) ;
    border-radius: 10px;
    
}
.inerdivtwo{
    height: 150px;
    width: 265px;
    border-radius: 5px 5px 0px 0px;
    background-color: rgb(214, 214, 214);;
}
.centerimg{
    position: relative;
    left: 25%;
    bottom: 20%;
}
.nametwoh6{
    position: relative;
         left: 35%;
         bottom: 15%;
}
.nameTwo p{
    position: relative;
    bottom: 10%;
    text-align: center;
}
.nametwostar{
position: relative;
bottom: 13%;
left: 25%;
}



                            /* Group 8 */

.group8{
    height: 600px;
    width: 100%;
}
.row1col3grid{
    position: relative;
    bottom: 70px;
}
.row2li{
    width: 57%;
    padding-bottom: 20px;
    border-bottom: 3px solid gray;
    
}