.group11{
    height: 200px;
    width: 100%;
    background-image: url("./assest/red\ start.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px;
}
.group11button{
    position: relative;
    right: 60%;
    background-color: white;
    color: red;
    width: 120%;
}
.textarea{
    background-color: none;
}
#group11input::placeholder{
    color: white;
}

                        /* group 10 */

.group10{
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
}
.cpa-heading{
    font-size: 0.8rem;
}
.group9{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.group9-Farward-icon{
    transform: rotate(180deg);
}

.nameOne{

    height: 300px;
    width: 200px;
     border: 5px solid gray;
     border-radius: 15px;
     /* background-color: rgb(202, 22, 22); */
     }
     .nameOne img{
         position:relative;
         left: 25%;
         bottom: 25%;
     }
     .nameoneh6{
         position: relative;
         left: 30%;
         bottom: 15%;
     }
     .nameOne p{
         position: relative;
         bottom: 20%;
         text-align: center;
         line-height: 18px;
     }
    .nameonestar{
        margin-top: 30px;
    }
    .inerdiv{
        height:120px ;
        width: 190px;
        border-radius: 10px 10px 0px 0px;
    background-color: rgb(219, 219, 219);
}
